<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.classup">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/classup_app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".ShowFeeStatus" />
        <activity android:name=".TestExams" />
        <activity android:name=".InstructionScreen" />
        <activity android:name=".OnlineTestList" />
        <activity android:name=".CreateOnlineClass" />
        <activity android:name=".DummyActivity" />

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity android:name=".ExamTestManagement" />
        <activity android:name=".OnlineClasses" />
        <activity android:name=".VideoReviewActivity" />
        <activity android:name=".ParentCommCenter" />
        <activity android:name=".SelStudentForPicSharing" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- activity for splash screen -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.classup.LOGINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- activity for Login -->
        <activity
            android:name=".TeacherMenu"
            android:label="@string/title_activity_teacher_menu"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.classup.TeacherMenu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- activity for main menu (are we using it really??) -->
        <!-- the menu that appears after login (actually this is the main menu) -->
        <activity
            android:name=".SchoolAdmin"
            android:label="@string/school_admin_menu"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.classup.SchoolAdmin" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- activity for school admin -->
        <activity
            android:name=".OnlineQuestions"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SelectClass"
            android:label="Select Class"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.classup.SelectClass" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
         activity for selecting class, section, subject, date,
         month, and year for taking attendance and scheduling tests
        -->
        <activity
            android:name=".AttendanceList"
            android:label="@string/title_activity_attendance_list"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.classup.classup.AttendanceList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestManagerActivity"
            android:label="@string/title_activity_test_manager"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Widget.AppCompat.ActionBar">
            <intent-filter>
                <action android:name="com.classup.TestManagerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- test Manager screen -->
        <activity
            android:name=".PendingTestsActivity"
            android:label="@string/title_activity_pending_tests"
            android:screenOrientation="portrait" /> <!-- activity that shows list of pending tests -->
        <activity
            android:name=".CompletedTestsActivity"
            android:label="@string/title_activity_completed_tests"
            android:screenOrientation="portrait" /> <!-- activity that shows list of completed tests -->
        <activity
            android:name=".MarksEntry"
            android:label="@string/title_activity_marks_entry"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.classup.MarksEntry" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- activity for entering marks or grades of students in a test -->
        <activity
            android:name=".SetSubjects"
            android:label="Set Subjects"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.classup.SetSubjects" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectCriteriaAttendanceSummary"
            android:label="Select Criteria for Attendance Summary"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.classup.SelectAttendanceSummaryCriteria" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- activity to select class, section, subject, month, and year for attendance summary -->
        <activity
            android:name=".ShowAttendanceSummary"
            android:label="Attendance Summary"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.classup.ShowAttendanceSummary" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- activity that shows attendance summary for a class, section, sbuject, and duration -->
        <activity
            android:name=".PasswordChange"
            android:label="Change Password"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.classup.PasswordChange" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- activity for password change -->
        <activity android:name=".SelectStudent" />
        <activity
            android:name=".SelectClassSection"
            android:label="Select Class/Section"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComposeMessage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectCriteriaBusAttendance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TakeBusAttendance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParentsMenu"
            android:label="Parent Menu"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.classup.ParentsMenu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowWard"
            android:label="Select Student"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.classup.ShowWard" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".HWList">
            <intent-filter>
                <action
                    android:name="com.classup.HWList"
                    android:screenOrientation="portrait" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReviewHW"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowAttendanceSummaryParents"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParentCommunication"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportBusDelay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ParentsSelectSubject"
            android:label="Select Subject"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubjectMarksHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowExamList"
            android:label="Select Exam" />
        <activity
            android:name=".ShowExamResults"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommunicationHistory"
            android:label="Communication History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SendBulkSMS"
            android:label="Send Bulk SMS"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectionForBulkSMS"
            android:label="Please Select"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SchoolAttendanceSummary"
            android:label="Attendance Summary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectDate"
            android:label="Select Date"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddStudent"
            android:label="Enter Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectClassSection1"
            android:label="Select Class/Section"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectStudent1"
            android:label="Select Student" />
        <activity
            android:name=".EditStudent"
            android:label="Edit Student"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddTeacher"
            android:label="Add Teacher"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditTeacher"
            android:label="Edit Teacher"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectTeacher"
            android:label="Select Teacher"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestListParent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CoScholastic"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.classup.CoScholastic" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TeachersAttendance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommunicationCenter"
            android:screenOrientation="portrait" />
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <activity
            android:name=".Arrangements"
            android:screenOrientation="portrait" />
        <!--
             Set color used with incoming notification messages. This is used when no color
             is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <activity
            android:name=".ActivityGroup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMembers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TeacherMessageRecord"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TeacherMessageReceivers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyTimeTable"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DaysofWeek"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExamListTeacher"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/classup_app_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/algae_green" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".NotificationExtender"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
    </application>

</manifest>